

<ion-content [fullscreen]="true" class="login-content">

  <div class="login-container">

    <div class="login-card">

      <ion-img 
      src="assets/Pixel Trade Logo.png"
      class="logo">
    </ion-img>

      <h2>Bienvenido</h2>
      <p>Accede a tu panel</p>

      <ion-button expand="block" (click)="login()">
        🔐 Iniciar sesión
      </ion-button>

      <ion-button expand="block" fill="outline" (click)="logout()">
        Cerrar sesión
      </ion-button>

    </div>

  </div>

</ion-content>