<div class="user-layout">

  <!-- 📂 SIDEBAR -->
  <div class="sidebar">

    <div class="logo">
      PIXEL INDEX
    </div>

    <div class="menu">

      <button class="menu-btn" (click)="go('/user/laser')">
         Láser
      </button>

      <button class="menu-btn" (click)="go('/user/xerox')">
         Xerox
      </button>

     <!--<button class="menu-btn" (click)="go('/user/dtf')">
         DTF
      </button>-->

      <!--<button class="menu-btn" (click)="go('/user/ploter')">
         Plotter
      </button>-->

    </div>

  </div>

  <!-- 📄 CONTENIDO -->
  <div class="content">

    <!-- 🔝 TOPBAR -->
    <div class="topbar">

      <h3>Panel de usuario</h3>

      @if (isAdmin == true) {
        <ion-button (click)="goAdmin()">
          ⚙️ Admin
        </ion-button>
      }

      <div class="user-info">
        <img *ngIf="user?.picture" [src]="user.picture" class="user-avatar">
        <span>{{ user.email }}</span>
      </div>

    </div>

    <!-- PÁGINA -->
    <ion-content class="page">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>

  </div>

</div>