/* 🌌 base */
:host {
  display: block;
  height: 100%;
}

.user-layout {
  display: flex;
  height: 100vh;
  background: #0f1115;
  color: white;
}

/* 📂 SIDEBAR usuario (más suave que admin) */
.sidebar {
  width: 240px;
  background: #151922;
  border-right: 1px solid #2a2f3a;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* logo */
.logo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #4aa3ff;
}

/* menú */
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu button {
  background: transparent;
  border: none;
  color: #cbd5e1;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.menu button:hover {
  background: #2a2f3a;
  color: white;
}

/* 📄 contenido */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/* 🔝 topbar */
.topbar {
  height: 60px;
  background: #151922;
  border-bottom: 1px solid #2a2f3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* página */
.page {
  --background: #0f1115;
  flex: 1;
}

/* 👤 AVATAR USUARIO */
img {
  width: 40px;
  height: 40px;
}

.email {
  font-size: 8px;
  font-weight: bold;
   color: #4aa3ff;
}