<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Xerox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- ⚙️ CONFIG GLOBAL -->
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Configuración Global Xerox
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

       <ion-item class="input-item" [class.modified]="camposModificados.has('color')">
        <ion-label position="stacked">
          Precio copia color
        </ion-label>

        <ion-input
          type="number"
          [(ngModel)]="configGlobal.color"
          (ngModelChange)="marcarCambio('color')">
        </ion-input>
      </ion-item>
      <ion-item class="input-item" [class.modified]="camposModificados.has('blanco_negro')">
        <ion-label position="stacked">
          Precio copia blanco y negro
        </ion-label>

        <ion-input
          type="number"
          [(ngModel)]="configGlobal.blanco_negro"
          (ngModelChange)="marcarCambio('blanco_negro')">
        </ion-input>
      </ion-item>

     

      <ion-item class="input-item" [class.modified]="camposModificados.has('plastificado')">
        <ion-label position="stacked">
          Coste plastificado SRA3 (unidad x €)
        </ion-label>

        <ion-input
          type="number"
          [(ngModel)]="configGlobal.plastificado"
          (ngModelChange)="marcarCambio('plastificado')">
        </ion-input>
      </ion-item>

      <ion-item class="input-item" [class.modified]="camposModificados.has('grapado')">
        <ion-label position="stacked">
          Coste ajuste máquina grapado (€)
        </ion-label>

        <ion-input
          type="number"
          [(ngModel)]="configGlobal.grapado"
          (ngModelChange)="marcarCambio('grapado')">
        </ion-input>
      </ion-item>

      <ion-item class="input-item" [class.modified]="camposModificados.has('coste_grapado')">
        <ion-label position="stacked">
          Coste grapado unitario (€)
        </ion-label>

        <ion-input
          type="number"
          [(ngModel)]="configGlobal.coste_grapado"
          (ngModelChange)="marcarCambio('coste_grapado')">
        </ion-input>
      </ion-item>

      <ion-item class="input-item" [class.modified]="camposModificados.has('mano_obra')">
        <ion-label position="stacked">
          Precio hora manipulado (€/hora)
        </ion-label>

        <ion-input
          type="number"
          [(ngModel)]="configGlobal.mano_obra"
          (ngModelChange)="marcarCambio('mano_obra')">
        </ion-input>
      </ion-item>

      <ion-item class="input-item" [class.modified]="camposModificados.has('hendido_coste')">
        <ion-label position="stacked">
          Coste hendido por unidad
        </ion-label>

        <ion-input
          type="number"
          [(ngModel)]="configGlobal.hendido_coste"
          (ngModelChange)="marcarCambio('hendido_coste')">
        </ion-input>
      </ion-item>

      <ion-item class="input-item" [class.modified]="camposModificados.has('hendido_maquina')">
        <ion-label position="stacked">
          Ajuste máquina hendido (€)
        </ion-label>

        <ion-input
          type="number"
          [(ngModel)]="configGlobal.hendido_maquina"
          (ngModelChange)="marcarCambio('hendido_maquina')">
        </ion-input>
      </ion-item>

      <div>

  <ion-item class="input-item">
    <ion-label position="stacked">Buscar papel</ion-label>
    <ion-input
      [(ngModel)]="busqueda"
      (ionInput)="reiniciarBusqueda()"
      placeholder="Escribe el nombre..."
    ></ion-input>
  </ion-item>

   <!-- 📦 CONTENEDOR CON SCROLL INTERNO -->
  <div class="list-scroll">

    <ion-list>

      @for (papel of papelesVisibles; track papel.id) {

        <ion-item lines="full">

          <ion-label>
            <h2>{{ papel.nombre }}</h2>
            <p>{{ papel.precio_papel }} €/unidad</p>
          </ion-label>

          <div slot="end" class="btn-group">
  <ion-button size="small" color="warning" class="icon-btn" (click)="openEditModal(papel)">
    ✏️
  </ion-button>

  <ion-button size="small" color="danger" class="icon-btn" (click)="presentalertdelete(papel)">
    🗑️
  </ion-button>
</div>

        </ion-item>

      }

    </ion-list>

  </div>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>



</div>


    </ion-card-content>

  </ion-card>

  <!-- ➕ BOTÓN FLOTANTE NUEVO PAPEL -->
<div class="fab-container">
  <button class="fab-pixel" (click)="openPapelModal()">
    ➕ Añadir papel
  </button>
</div>



  <!-- 🆕 MODAL CREAR PAPEL -->
  <ion-modal
    [isOpen]="showPapelModal"
    (didDismiss)="closePapelModal()">

    <ng-template>

      <ion-header>
        <ion-toolbar>

          <ion-title>
            Nuevo papel
          </ion-title>

          <ion-buttons slot="end">
            <ion-button (click)="closePapelModal()">
              ✖
            </ion-button>
          </ion-buttons>

        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <ion-item class="input-item">
          <ion-label position="stacked">
            Nombre
          </ion-label>

          <ion-input
            [(ngModel)]="nuevoPapel.nombre">
          </ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="stacked">
            SRA3 (€/unidad)
          </ion-label>

          <ion-input
            type="number"
            [(ngModel)]="nuevoPapel.precio_papel">
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          (click)="guardarPapel()">

          💾 Guardar

        </ion-button>

        <ion-button
          expand="block"
          fill="outline"
          (click)="closePapelModal()">

          Cancelar

        </ion-button>

      </ion-content>

    </ng-template>

  </ion-modal>

  <!-- ✏️ MODAL EDITAR -->
  <ion-modal [isOpen]="showEditModal"
  (didDismiss)="closeEditModal()">

    <ng-template>

      <ion-header>
        <ion-toolbar>

          <ion-title>
            Editar papel
          </ion-title>

          <ion-buttons slot="end">
            <ion-button (click)="closeEditModal()">
              ✖
            </ion-button>
          </ion-buttons>

        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <ion-item class="input-item">
          <ion-label position="stacked">
            Nombre del papel
          </ion-label>

          <ion-input
            [(ngModel)]="editarPapel.nombre">
          </ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="stacked">
            SRA3 (€/unidad)
          </ion-label>

          <ion-input
            type="number"
            [(ngModel)]="editarPapel.precio_papel">
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          (click)="guardarEdicion()">

          💾 Guardar cambios

        </ion-button>

        <ion-button
          expand="block"
          fill="outline"
          (click)="closeEditModal()">

          Cancelar

        </ion-button>

      </ion-content>

    </ng-template>

  </ion-modal>

    <div
  class="pixel-fab-fixed"
  *ngIf="hayCambios"
  [class.active]="hayCambios"
  (click)="guardarConfig()"
>
  GUARDAR CONFIGURACION
</div>
</ion-content>