<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calculadora Xerox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="user-layout">

  <!-- IZQUIERDA -->
  <div class="inputs">

    <ion-item>
      <ion-label position="stacked">Copias</ion-label>
      <ion-input type="number" [(ngModel)]="form.copias" (ionInput)="calcularXerox()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Color</ion-label>
      <ion-toggle [(ngModel)]="form.color" (ionChange)="calcularXerox()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Tamaño</ion-label>
      <ion-select [(ngModel)]="form.tamano" (ionChange)="calcularXerox()">
        <ion-select-option value="A4">A4</ion-select-option>
        <ion-select-option value="A3">A3</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tipo papel</ion-label>
      <ion-select [(ngModel)]="form.tipo_papel" (ionChange)="calcularXerox()">
        <ion-select-option value="normal">Normal</ion-select-option>
        <ion-select-option value="premium">Premium</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mano de obra (€ por copia)</ion-label>
      <ion-input type="number" [(ngModel)]="form.mano_obra" (ionInput)="calcularXerox()"></ion-input>
    </ion-item>

  </div>

  <!-- DERECHA -->
  <div class="resultados">

    <h3> Presupuesto</h3>

    <p>Subtotal: {{ subtotal | number:'1.2-2' }} €</p>
    <p>IVA: {{ IVA | number:'1.2-2' }} €</p>

    <h2>Total: {{ totalCalculado | number:'1.2-2' }} €</h2>
 <ion-button (click)="enviarPDF()">
  📧 Enviar presupuesto por email
</ion-button>
<ion-button color="dark" (click)="imprimirPDF()">
  🖨️ Imprimir presupuesto
</ion-button>
  </div>

   

</div>
</ion-content>
